<h1>
  Using embedded iframes
</h1>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=API_KEY
    &q=FCP,Toronto+ON" allowfullscreen>
</iframe>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/streetview?key=API_KEY
    &location=43.6489%2C-79.3809" allowfullscreen></iframe>

<h1>
  Using JavaScript API
</h1>

<h2>
  Angular Component (requires v9 or newer)
</h2>
<google-map [options]="options">
  <map-marker *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"></map-marker>
</google-map>

<p>Currently, there is no angular component for streetview</p>

<h2>
  Direct HTML
</h2>

<div id="map"></div>
<div id="pano"></div>

<p>Weird cors issues with pano</p>

<router-outlet></router-outlet>